.btn{
  background: #6d9ff1;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  height:30px;
  padding:5px;
  border:0;
  cursor:pointer;

  &_small{
    width:30px;
    height:30px;
    background:rgba(255,255,255, 0.5);
    border:0;
    cursor:pointer;
    color:black;
  }

  &_upload{
    width:100%;
  }
}