.upload-field{
  margin-bottom:10px;
  text-align:center;
  padding:20px;
  background: #f5f5fa;
  border:1px solid #ccc;
}

.input{
  padding:3px 5px;
  margin-right:5px;
  width:100%;
}

.split-with-or{
  margin:20px;
  display:block;
  text-transform: uppercase;
}
